VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anonima-aqui
VITE_VAPID_PUBLIC_KEY=BJf9QxLYaAlWzMsZgB8qv6UE5IVpmxwT1BdKIla1IixkqTx8mlKTsJfbdT3IVW8OMNc2IrUM1gtvEb5GLkQqwsU
VAPID_PUBLIC_KEY=BJf9QxLYaAlWzMsZgB8qv6UE5IVpmxwT1BdKIla1IixkqTx8mlKTsJfbdT3IVW8OMNc2IrUM1gtvEb5GLkQqwsU
VAPID_PRIVATE_KEY=UDfe4cBKwVjepyAYswb2nsPDg2L32wvOy5EowaTJA9Y
